@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,XOPQ,XTRA,YOPQ@8..144,118.5,100..1000,50,557,41&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
}
.cursor{
    display: none;
    width: 0px;
    height: 0px;
    background-color: white;
    mix-blend-mode: difference;
    position: fixed;
    border-radius: 50%;
    transition: all ease-out 0.15s;  
}
@keyframes appear {
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 10px;
        height: 10px;
    }
}
#main {
    width: 100%;
    background-color: #fff;
}

.home {
    width: 100%;
    min-height: 100vh;
}

#nav {
    width: 100%;
    padding: 18px 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Matter Light";
}

.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

#nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

#nav img {
    width: 97px;
}

.heading {
    width: 100%;
    padding: 3.2vw 11vw 9vw 11vw;
    font-family: "Matter Light";

}

.heading h1 {
    font-family: "Matter Light";
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 6.4rem;
}

.heading-video-container {
    display: flex;
    line-height: 7.4vw;

}

.heading-video-container p {
    font-size: 6.4rem;
    line-height: 6.4rem;
}

.inline-video-div {
    position: relative;
    top: 5px;
    border-radius: 100px;
    width: 10.5vw;
    height: 7vw;
    margin-right: 20px;
    object-fit: cover;
    overflow: hidden;
}

.inline-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design-text {
    font-size: 7.8rem;
    font-weight: 350;
    font-style: italic;
    font-family: "Roboto Flex";
}

.main-video {
    width: 100%;
}

.main-video video {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 10px;
    height: 100%;
    background-color: #424242;
}

::-webkit-scrollbar-thumb {
    background-color: #686868;
}

.info-container {
    display: flex;
    width: 100vw;
    height: 60vw;
    padding: 10vw 8vw;
}

.info-container .left {
    width: 50%;
    height: 100%;
}

.info-container .left video {
    width: 80%;
    object-fit: cover;
    overflow: hidden;
}

.info-container .right {
    font-family: "Matter";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 5vw 7vw 7vw 0vw;
    font-size: 1.9rem;
    text-wrap: wrap;
    font-weight: 400;
}

.info-container .right button {
    position: relative;
    width: 30vw;
    height: 13vw;
    font-size: 1.9rem;
    padding: 5vw 8vw;
    border: 1px solid black;
    border-radius: 100px;
    background-color: transparent;
}

.info-container .right button:hover {
    animation: pop ease-in-out 0.7s;
}

@keyframes pop {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1.05);
    }

    100% {
        transform: scaleX(1);
    }
}

.summary {
    width: 100%;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    color: white;
    background-color: #161616;
    padding: 10vw 22.5vw 15vw 10vw;  
    font-family: "Matter";
}
.proj-title{
    font-size: 8rem;
    font-weight: 400;
    line-height: 80%;
}
.inline-video-div-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.proj-title .inline-video-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.5vw;
    height: 9.7vw;
}

.proj-title p {
    position: relative;
    bottom: 15px;
    font-weight: 400;
    font-size: 1.2em;
    display: inline-block;
    font-family: "Roboto flex";
    font-style: italic;
    letter-spacing: -.03em;
}

.feat-videos-container {
    display: flex;
    width: 100%;
    margin-top: 174px;
    justify-content: space-between;
}

.feat-left {
    display: flex;
    width: 31.5vw;
    flex-direction: column;
    gap: 5rem;
}

.feat-right {
    display: flex;
    width: 31.5vw;
    flex-direction: column;
    margin-top: 22vw;
    gap: 5rem;
}

.feat-video-rect {
    width: 100%;
    height: 42vw;
    border-radius: 50px;
    overflow: hidden;
}

.feat-video-sqr {
    width: 100%;
    height: 31vw;
    border-radius: 50px;
    overflow: hidden;
}
.feat-item video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.feat-caption{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1.8rem;
    font-family: "Matter";
}

#s2{
    background-color: white;
    position: relative;
    top: -70px;
    color: black;
    padding-bottom: 20px;
}
.our-philos-tittle{
    line-height: 8rem;
    padding: 50px 0px 0px;
}
#our{
    font-size: 9.5rem;
    font-weight: 300;
}
#philos{
    font-size: 10.5rem;
    font-family: "Roboto Flex";
    font-style: italic;
    font-weight: 300;

}
.our-philos-content {
    margin-top: 80px;
    display: flex;
    height: auto;
}
.our-philos-content .left{
    width: 50%;
    height: 100%;
}

.our-philos-content .left video{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.our-philos-content .right{
    margin-top: 80px;
    font-size: 1.39rem;
    width: 50%;
    padding-left: 70px;
}
.our-philos-content .right :nth-child(2){
    margin-top: 20px;
}

footer{
    background-color: black;
}
.foot-follow-ban{
    color: white;
    height: 70vh;
    width: 100%;
    position: relative;
    padding-top: 150px;
    text-align: center;
}

.foot-follow-ban h1{
    font-family: "Matter Light";
    font-size: 10rem;
    font-weight: 300;
    height: 20vw;
}
.foot-follow-ban p{
    font-size: 1rem;
    text-align: left;
    font-family: "Matter";
    padding-bottom: 5vw;
}